# Dependabot will run on day 17 of each month at 02:18 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "18 2 17 * *"
    open-pull-requests-limit: 15
    versioning-strategy: "increase"
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
