# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db
# temporary release script file, might still linger around, if release script failed.
.commitinfo

# NYC coverage files
coverage

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

# frontend files
build/home-assistant-polymer/

# Editor backup files
*~
