/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

/* Add your styles here */
.fixed-action-btn {
    bottom: 73px !important;
    right: 10px !important;
}

.folder-button {
    color: black
}

/* dark mode for editor */
.m.react-dark .row #tab-themes .row #themes {
    background-color: #575757 !important;
}
.m.react-dark .row #tab-themes .row #themes .ace_gutter {
    background-color: #555555 !important;
}
.m.react-dark .row #tab-themes .row #themes .ace_gutter-active-line {
    background-color: #101010 !important;
}

/* long text in smaller screens */
@media screen and (max-width: 800px) {
    .long-text {
        margin-bottom: 2rem !important;
    }
}
@media screen and (max-width: 540px) {
    .long-text {
        margin-bottom: 3rem !important;
    }
}
@media screen and (max-width: 450px) {
    .long-text {
        margin-bottom: 5rem !important;
    }
}
@media screen and (max-width: 395px) {
    .long-text {
        margin-bottom: 6rem !important;
    }
}
@media screen and (max-width: 330px) {
    .long-text {
        margin-bottom: 8rem !important;
    }
}
